.vscode/
.vscodeignore
.git/
.github/
.gitignore
node_modules
**/node_modules/**
!node_modules/ace-builds/src-min-noconflict/ace
!node_modules/ace-builds/src-min-noconflict/mode-text
!node_modules/ace-builds/src-min-noconflict/theme-github
!node_modules/ace-builds/src-min-noconflict/theme-one_dark
!node_modules/ace-builds/src-min-noconflict/ext-searchbox
!node_modules/three/**
!node_modules/ncedit7lab/**
!node_modules/cnc7darwnccode/**
src/
scripts/
tests/
bundle/python_embedded/
*.ts
*.map
*.log
.vscode-test/
**/*.spec.js
PUBLISHING.md
tsconfig.json
package.dev.json